{% extends 'base.html' %}

{% block content %}
    <h3>Results</h3>
    <form id="crs" action="/crs" method="post">
        {% for key in keys %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="caseIds" value="{{ cases[key] }}">
                <label class="form-check-label">
                    {{ key }}
                </label>
            </div>
        {% endfor %}
        <button id="crs-submit-button" type="submit" class="btn btn-primary">Create CRS</button>
    </form>
    <a href="/" class="btn">New Search</button>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#crs").submit(function () {
                $("#crs-submit-button").attr("disabled", true);
                return true;
            });
        });
    </script>

{% endblock %}