{% extends 'base.html' %}

{% block content %}
    <h3>Search</h3>
    <form action="/search" method="post">
        <div class="form-row">
            <div class="form-group col">
                <label>First</label>
                <input class="form-control" type="text" name="firstname">
            </div>
            <div class="form-group col-2">
                <label>Middle</label>
                <input class="form-control" type="text" name="middlename">
            </div>
            <div class="form-group col">
                <label>Last</label>
                <input class="form-control" type="text" name="lastname">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Username</label>
                <input class="form-control" type="username" name="username" value="{% if config['DEBUG'] %}ILA01{% endif %}
">
            </div>
            <div class="form-group col">
                <label>Password</label>
                <input class="form-control" type="password" name="password" value="{% if config['DEBUG'] %}DavidStrange1{% endif %}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
{% endblock %}